body
{
margin: 0;
font-family: sans-serif;
}

@media screen and (max-width: 800px)
{
.topnav, .topnav_menu, .w3-container, .video-class, .w3-card-4, .w3-center, .row, .col-sm-2, .card, .w3-gray, #myDIV
{
/* max-width: 100%; */
object-fit: cover;
}
}
